<div id="returns-modal" class="modal" style="max-width:1000px;">
  <h1 class="text-center">Returns And Refund Policy</h1>
  <h2> Returns</h2>
  <p>Any item(s) that you wish to return must be sent back to the fulfillment center that dispatched your order; this should be carried out within 14 calendar days from the date you received the goods.</p>
  <p>The fulfillment center address is located on the delivery packaging marked Return Address, if you no longer have the packaging your order was delivered in, please contact us providing your full name and order number, and we will look up your local return address.</p>
  <p>Return item(s) purchased from Tongkat Fitness must be factory sealed and unused.</p>
  <p>Once we have received your returned item(s) we will issue a refund for the goods purchased; you will be notified of your refund via an email confirmation.</p>
  <h2>Refunds</h2>
  <p>Tongkat Fitness does not offer 'free returns,' the cost of returning goods will be down to the consumer. In the interest of security, we also recommend choosing a tracked delivery service to return your goods with to avoid any missing in transit issues.</p>
  <p>To make a return, you must first email us at <a href="mailto:sales@tongkatfitness.com">sales@tongkatfitness.com</a> stating your name, order number and reason for return, we will then provide you with the appropriate instructions for returning your item depending on your location.</p>
  <p>Refunds will be minus all shipping costs incurred by Tongkat Fitness when dispatching your goods and may take from 3 to 5 working days to appear in your account.</p>
</div>
